############################
# Visual Studio
############################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Build folders
############################

bin/
obj/

############################
# ASP.NET Core
############################

appsettings.Development.json

############################
# Node / React
############################

node_modules/
dist/
build/

############################
# Logs
############################

*.log

############################
# Environment Variables
############################

.env
.env.*

############################
# OS Files
############################

.DS_Store
Thumbs.db
Desktop.ini